    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        background-image: url("./bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .container {
        width: 600px;
        height: 450px;
        /* border: 1px solid !important; */
        background-color: #ffffff80;
        backdrop-filter: blur(3px);
        border-radius: 15px;
    }
    
    .login_box {
        margin: 0 auto;
        width: 400px;
        height: 200px;
        background: #ffffff60;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    
    .login_box .input_outer {
        height: 40px;
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: 30px;
        margin-top: 40px;
    }
    
    .login_box .input_outer input {
        height: 100%;
        width: 100%;
        border: none;
        font-size: 20px;
        background-color: #ffffff00;
        border-bottom: 2px solid !important;
        outline: none;
        color: #00000080;
    }
    
    .input_outer input:focus~label,
    .input_outer input:valid~label {
        transform: translateY(-25px);
        font-size: 15px;
        color: #4158d0;
    }
    
    .login_box .input_outer label {
        position: absolute;
        bottom: 10px;
        left: 0;
        color: gray;
        pointer-events: none;
        transition: all 0.5s ease;
    }
    
    .login_box .input_outer .underline {
        position: absolute;
        bottom: 0px;
        height: 2px;
        width: 100%;
    }
    
    .login_box .input_outer .underline::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: #4158d0;
        transform: scaleX(0);
        transition: 0.5s ease;
    }
    
    .input_outer input:focus~.underline::before,
    .input_outer input:valid~.underline::before {
        transform: scaleX(1);
    }
    
    .mb2 {
        text-align: center;
        cursor: pointer;
    }
    
    .act-but {
        line-height: 20px;
        text-align: center;
        font-size: 20px;
        background: #153e7750;
        letter-spacing: 10px;
        width: 300px;
        height: 50px;
    }
    
    button {
        /* background-color: #4CAF50; */
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;
        backdrop-filter: blur(2px);
        transition: 0.5s ease;
    }
    
    .act-but:hover {
        background: #153e7770;
        border-radius: 0px;
    }
    
    .more-link {
        text-align: center;
        font-size: 87.5%;
        margin-top: 20px;
    }
    
    .remember {
        margin: 5px 0;
    }
    
    .checkbox {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    
    span {
        position: relative;
        top: -2px;
        color: #fff;
        cursor: pointer;
    }
    
    .more-link {
        position: relative;
        top: -10px;
        color: #fff;
    }
    
    h1 {
        text-align: center;
        font-size: 50px;
        color: #fff;
        letter-spacing: 3px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
